@model Identity.ViewModel.LoginViewModel

<body class="h-100">
    <h2 class="row justify-content-center">Вход в приложение</h2>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <form method="post" asp-controller="Account" asp-action="Login"
                      asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label class="row justify-content-center" asp-for="Email"></label><br />
                        <input class="col-lg-12" asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <label class="row justify-content-center" asp-for="Password"></label><br />
                        <input class="col-lg-12" asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <input class="col-lg-12" asp-for="RememberMe" />
                        <label class="row justify-content-center" asp-for="RememberMe"></label><br />
                    </div>
                     <div class="row justify-content-center">
                        <button class="btn btn-link">
                            <a asp-action="Register" asp-controller="Account">Регистрация</a>
                        </button>
                        <button class="btn btn-success" type="submit">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
