@model Identity.ViewModel.RegisterViewModel

<body class="h-100">
    <h2 class="row justify-content-center">Регистрация нового пользователя</h2>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <form method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label class="row justify-content-center" asp-for="Email"></label><br />
                        <input class="col-lg-12" asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <label class="row justify-content-center" asp-for="Year"></label><br />
                        <input class="col-lg-12" asp-for="Year" />
                        <span asp-validation-for="Year"></span>
                    </div>
                    <div>
                        <label class="row justify-content-center" asp-for="Password"></label><br />
                        <input class="col-lg-12" asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label class="row justify-content-center"asp-for="PasswordConfirm"></label><br />
                        <input class="col-lg-12" asp-for="PasswordConfirm" />
                        <span asp-validation-for="PasswordConfirm"></span>
                    </div><br />
                     <div class="row justify-content-center">
                        <button class="btn btn-success" type="submit">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>